.ui.seven.column.grid {
    height: 100%;
}

.month-view-wrapper {
    height: 100%;
}

.day-name {
    text-decoration: underline;
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.5em;
    }
}