body {
    font-family: 'Roboto', sans-serif;
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: #ECEFF1 no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.layout a {
    color: teal;
}

.layout a:hover {
    color: #1B5E20;
}

@media (max-width: 768px) {
    
    body {
        max-width: 100%;
    }

}