.weekViewWrapper {
    display: flex;
    max-width: 100%;
    /* flex-direction: column; */
}

.weekdayColumn {
    /* text-align: center; */
    /* border-left: 1px solid grey;
    border-right: 1px solid grey; */
    flex: 1;
}

.dayHeader {
    margin-top: 10px;
    text-align: center;
    border-right: 1px solid teal;
    border-bottom: 1px solid teal;
}

.dayHeader:last-child {
    border-right: none;
}

.add-event {
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.clickable {
    cursor: pointer;
    color: var(--text);
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

@media (max-width: 768px) {

    .weekdayColumn {
        max-width: 15%;

    }
} 

@media (max-width: 500px) {

    .ui.medium.header.day-name {
        font-size: 1em;
    }
}