.weekViewWrapper {
    display: flex;
    /* flex-direction: column; */
}

.weekdayColumn {
    /* text-align: center; */
    /* border-left: 1px solid grey;
    border-right: 1px solid grey; */
    flex: 1;
}

.dayHeader {
    margin-top: 10px;
    text-align: center;
    border-right: 1px solid teal;
    border-bottom: 1px solid teal;
}

.dayHeader:last-child {
    border-right: none;
}
