.header {
    text-align: center;
    margin-top: 5%;
}

.header hr {
    width: 50%;
}

@media (max-width: 768px) {

    .header {
        padding-left: 2.5%;
        padding-right: 2.5%;
        max-width: 100%;
    }
}