.ui.grid>.grey.column,
.ui.grid>.grey.row,
.ui.grid>.row>.grey.column.no-day {
    background-color: rgba(50, 88, 88, 0.15) !important;
    height: 100%;
    margin-top: 0;
}

.ui.grid>.grey.column,
.ui.grid>.grey.row,
.ui.grid>.row>.grey.column.no-day.shadow {
    -webkit-box-shadow: -1px 0 0 0 #C3C3C4;
    box-shadow: -1px 0 0 0 #C4C4C4;
}

.ui.celled.grid>.grey.column:first-child.column.no-day.shadow,
.ui.celled.grid>.grey.row>.column:first-child.column.no-day.shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}